<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gab!</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/user"><h1 class="gabble">gabble</h1></a>
        <div class="nav">
          <a href="/user">Home</a>
          <a href="/user/{{userId}}">Profile</a>
          <a href="/user/{{userId}}/create">Create Gab</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
      
        <form class="compose" action="/user/{{userId}}/compose" method="post">
          <fieldset>
            <legend>Create new Gab</legend>
            <textarea name="gab" rows="8" cols="80" placeholder="A penny for your thoughts..."></textarea>
            <input type="submit" name="save" value="Save Gab">
          </fieldset>
        </form>

  </body>
</html>
