<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/user"><h1 class="gabble">gabble</h1></a>
        <div class="nav">
          <a href="/user">Home</a>
          <a href="/user/{{userId}}">Profile</a>
          <a href="/user/{{userId}}/create">Create Gab</a>
          <a href="/logout">Logout</a>
        </div>
      </div>

      <form class="edit" action="/user/{{userId}}/edit" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>Edit Your Profile</legend>
          <label for="bio">Bio</label>
          <textarea name="bio" id="bio" rows="8" cols="80" value="bio">{{user.bio}}</textarea>
          <label for="image">Upload photo</label>
          <input type="file" name="image" value="">
          <input class="submit" type="submit" name="update" value="Update">
        </fieldset>
      </form>

    </div>
  </body>
</html>
