<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{user.username}}</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/user"><h1 class="gabble">gabble</h1></a>
        <div class="nav">
          <a href="/user/{{userId}}/gab">Create Gab</a>
          <a href="/user/{{userId}}">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
      <div class="gab">
        <a href="/user/{{post.user.id}}"><img class="user-image" src="/uploads/{{post.user.image}}" alt=""></a>
        <a href="/user/{{post.user.id}}/{{post.id}}">
          <div class="post">



        <div class="author">
          {{post.user.username}} - {{post.createdAt}}
        </div>
        <div class="text">
          {{post.text}}
        </div>
        {{likeCount}}
        {{#liked}}
        <a href="/user/unlike/{{id}}"><i class="fa fa-heart"></i></a>
        {{/liked}}
        {{^liked}}
        <a href="/user/like/{{id}}"><i class="fa fa-heart-o"></i></a>
        {{/liked}}
        {{#post.delete}}
        <form class="delete" action="/user/delete/{{id}}" method="post">
          <input type="submit" name="delete" value="Delete">
        </form>
        {{/post.delete}}
          </div>
        </a>
      </div>
          Likes: {{likeCount}}
          liked by:
          {{#usersLiked}}
          <div class="user-like">
                        {{.}}
          </div>

          {{/usersLiked}}

    </div>
  </body>
</html>
