<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{user.username}}</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/user"><h1 class="gabble">gabble</h1></a>
        <div class="nav">
          <a href="/user">Home</a>
          <a href="/user/{{userId}}">Profile</a>
          <a href="/user/{{userId}}/create">Create Gab</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
<div class="gabs">


      <div class="gab">
        <div class="image">
            <a class="user-image" href="/user/{{user.id}}"><img src="/uploads/{{post.user.image}}" alt=""></a>
        </div>
        <div class="post">


        <a class="post-link" href="/user/{{user.id}}/gab/{{id}}">

        <div class="author">
          {{post.user.username}} - {{post.date}}
        </div>
        <div class="text">
          {{post.text}}
        </div>
      </a>

        <div class="post-footer">

          <div class="likes">
            <p class="like-count">{{likeCount}}</p>
            {{#post.liked}}
            <a href="/user/unlike/{{post.id}}"><i class="fa fa-heart"></i></a>
            {{/post.liked}}
            {{^post.liked}}
            <a href="/user/like/{{post.id}}"><i class="fa fa-heart-o"></i></a>
            {{/post.liked}}
          </div>

        {{#post.delete}}
        <form class="delete" action="/user/delete/{{id}}" method="post">
          <button type="submit" name="delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </form>
        {{/post.delete}}
          </div>
        </div>
      </div>
      <div class="user-likes">

          <h3>Liked by:</h3>
          {{#usersLiked}}
          <div class="user-like">
                        <a href="/user/{{id}}">{{username}}</a>
          </div>

          {{/usersLiked}}
      </div>
      </div>
    </div>
    <script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
