<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/"><h1 class="gabble">gabble</h1></a>
        <div class="nav">
          <a href="/{{user.username}}/gab">Create Gab</a>
          <a href="/logout">Logout</a>
        </div>
      </div>

    <form class="login-form" action="/verify" method="post">
      <fieldset>
        <legend>Login</legend>
        <p>{{errorMessage}}</p>
        <div class="login-username">
          <label for="login-username">Username:</label>
          <input type="text" id="login-username" name="loginUsername" value="" placeholder="Enter Username">
        </div>
        <div class="login-password">
          <label for="password">Password:</label>
          <input type="password" id="login-password" name="loginPassword" value="" placeholder="Enter Password">
        </div>
        <input type="submit" name="login" value="Login">
      </fieldset>
    </form>
    </div>
  </body>
</html>
