<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Join Gabble!</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Gabble</h1>
        <div class="nav">
          <a href="/login">Log In</a>
          <a href="/signup">Sign Up</a>
        </div>
      </div>
          <form class="signup" action="/signup" method="post">
            <fieldset>
              <legend>Sign up!</legend>
              <div class="signup-input" id="signup-email">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="name" value="{{user.email}}" placeholder="Enter Email Address">
                <p>{{emailError}}</p>
              </div>
              <div class="signup-input" id="signup-username">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="{{user.username}}" placeholder="Enter Username">
                <p>{{usernameError}}</p>
              </div>
              <div class="signup-input" id="signup-password">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="" placeholder="Enter Password">
                <p>{{passwordError}}</p>
              </div>
              <div class="signup-input" id="signup-confirm-password">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" value="" placeholder="Confirm Password">
              </div>
              <input type="submit" name="signup" value="Sign Up!">
            </fieldset>
          </form>
    </div>

  </body>
</html>
