<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Join gabble!</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/"><h1 class="gabble">gabble</h1></a>
        <div class="nav">
          <a href="/signup">Sign Up</a>
          <a href="/login">Login</a>
        </div>
      </div>
          <form class="signup" action="/signup" method="post">
            <fieldset>
              <legend>Sign up!</legend>
              <div class="signup-input" id="signup-email">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="name" value="{{email}}" placeholder="Enter Email Address">
                <p class="error">{{emailError}}</p>
              </div>
              <div class="signup-input" id="signup-username">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="{{username}}" placeholder="Enter Username">
                <p class="error">{{usernameError}}</p>
              </div>
              <div class="signup-input" id="signup-password">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="" placeholder="Enter Password">
                <p class="error">{{passwordError}}</p>
              </div>
              <div class="signup-input" id="signup-confirm-password">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" value="" placeholder="Confirm Password">
              </div>
              <input type="submit" name="signup" value="Sign Up!">
            </fieldset>
          </form>
    </div>

  </body>
</html>
