<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{user.username}}</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/"><h1 class="gabble">gabble</h1></a>
        <div class="nav">
          <a href="/{{user.username}}/gab">Create Gab</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
          <h3>Hello {{user.username}}!</h3>
          <div class="gabs">
            {{#gabs}}
            <a href="/gab/{{id}}">
          <div class="gab">
            <div class="author">
              {{author}}
            </div>
            <div class="post">
              {{text}}
            </div>
            {{#like}}
            <a href="/unlike/{{id}}"><i class="fa fa-heart"></i></a>
            {{/like}}
            {{^like}}
            <a href="/like/{{id}}"><i class="fa fa-heart-o"></i></a>
            {{/like}}
            {{#delete}}
            <form class="delete" action="/delete/{{id}}" method="post">
              <input type="submit" name="delete" value="Delete">
            </form>
            {{/delete}}
          </div>
          </a>
            {{/gabs}}
          </div>
    </div>
<script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
