<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{user.username}}</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/user"><h1 class="gabble">gabble</h1></a>
        <div class="nav">
          <a href="/user">Home</a>
          <a href="/user/{{userId}}">Profile</a>
          <a href="/user/{{userId}}/create">Create Gab</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
      
      <div class="user-info">
        <h3>{{user.username}}</h3>
        <img src="/uploads/{{user.image}}" alt="">
        <div class="bio">
          bio: {{user.bio}}
        </div>
        {{#user.edit}}
        <a href="/user/{{userId}}/edit">edit</a>
        {{/user.edit}}
      </div>
      <div class="gabs">
        {{#gabs}}


      <div class="gab">
        <a href="/user/{{user.id}}"><img class="user-image" src="/uploads/{{user.image}}" alt=""></a>
        <a href="/user/{{user.id}/{{id}}">
          <div class="post">



        <div class="author">
          {{user.username}} - {{createdAt}}
        </div>
        <div class="text">
          {{text}}
        </div>
        {{likeCount}}
        {{#liked}}
        <a href="/user/unlike/{{id}}"><i class="fa fa-heart"></i></a>
        {{/liked}}
        {{^liked}}
        <a href="/user/like/{{id}}"><i class="fa fa-heart-o"></i></a>
        {{/liked}}
        {{#delete}}
        <form class="delete" action="/delete/{{id}}" method="post">
          <input type="submit" name="delete" value="Delete">
        </form>
        {{/delete}}
          </div>
        </a>
      </div>

        {{/gabs}}
      </div>
    </div>
  </body>
</html>
