<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{user.username}}</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Gabble</h1>
        <div class="nav">
          <a href="/{{user.username}}/gab">Create Gab</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
          <h3>Hello {{user.username}}!</h3>
          <div class="gabs">
            {{#gabs}}
          <div class="gab">
            <div class="author">
              {{author}}
            </div>
            <div class="post">
              {{text}}
            </div>
            <a href="/like/{{id}}">Like</a>
          </div>
            {{/gabs}}
          </div>
    </div>

  </body>
</html>
