<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{user.username}}</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/"><h1 class="gabble">gabble</h1></a>
        <div class="nav">
          <a href="/{{user.username}}/gab">Create Gab</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
          <h3>Hello {{user.username}}!</h3>
          <div class="gabs">
            {{#gabs}}
          <div class="gab">
            <div class="author">
              {{author}}
            </div>
            <div class="post">
              <a href="/gab/{{id}}">{{text}}</a>
            </div>
            <a href="/like/{{id}}">Like</a>
          </div>
            {{/gabs}}
          </div>
    </div>
  </body>
</html>
