* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: Pacifico;
    src: url('https://fonts.googleapis.com/css?family=Pacifico');
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
}

.gab {
  border: 2px solid black;
  margin: 10px;
  display: flex;
}

.gabble {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
}

.user-image {
  border-radius: 100%;
  width: 25%;
}

.post {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
}
