* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: Pacifico;
    src: url('https://fonts.googleapis.com/css?family=Pacifico');
}

body {
  background-color: #9b59b6;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 110%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
}

.header a {
    color: #ecf0f1;
}

.header a:hover {
  color: #95a5a6;
}

.nav {
  display: flex;
}

.nav a {
  margin: 20px;
  font-size: 20px;
}

form {
  background-color: #ecf0f1;
  margin-top: 10vh;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  color: black;
  /*text-align: center;*/
}

fieldset {
  border: none;
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

legend {
  text-align: center;
  font-size: 20px;
  margin: 5px;
  color: black;
}

form input {
  font-size: 16px;
  margin: 5px;
  padding: 2px;
  align-self: flex-end;
}

label {
  color: black;
}

.error {
  color: #e74c3c;
  text-align: center;
}

.gab {
  margin: 15px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  height: 20vh;
  background-color: #ecf0f1;
  width: 100%;
}

.gabble {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
}


.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  overflow: hidden;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  padding: 5px;
}

.post a {
  color: black;
}

.gabs {
  background-color: rgba(0,0,0,.3);
  padding: 25px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.post-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.likes {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.like-count {
  font-size: 16px;
  margin: 10px;
}

.delete {
  margin: 0;
  padding: 0;
  border: none;
}

.delete button {
  font-size: 20px;
  border: none;
  background-color: #ecf0f1;
  margin: 0 20px;
}

.fa {
  color: #9b59b6;
  font-size: 20px;
}

.author {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 25vh;
}

.user-info img {
  width: 25%;
  border-radius: 50%;

}

.bio {
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  color: #ecf0f1;
}

.bio h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.edit {
  align-self: flex-end;
  text-align: left;
  color: #ecf0f1;
}

.text {
  margin-left: 5px;
}

.welcome {
  color: #ecf0f1;
  font-size: 25px;
}

form.compose {
  display: flex;
  flex-direction: column;
}

form.edit {
  margin: 10vh auto;
}

.error {
  color: #c0392b;
}

.user-likes {
  color: #ecf0f1;
  text-align: center;
  height: 40vh;
}

.user-likes h3 {
  font-size: 25px;
}

.user-like {
  margin: 5px;
  font-size: 20px;
}

.signup-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}
